<thead>
  <tr>
    <td colspan="3">
      <%=
        stack = [disk_helper.path]
        path.split('/').map do |route|
          next if route == ''
          stack << route
          "/<a class=\"breadcrumb\" href=\"#{app_url(stack.join('/'))}\">#{route}</a>"
        end.compact.join
      %>
    </td>
  </tr>
  <% if path != '/' %>
    <tr>
      <td colspan="3">
        <a href="<%= stack[0..-2].join('/') %>/" style="font-size: 11px;">
          back
        </a>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>
      <a onclick="SortTable(0);" href="javascript:void(0)">Name</a>
    </td>
    <td>
      <a onclick="SortTable(1);" href="javascript:void(0)">Size</a>
    </td>
    <td>
      <a onclick="SortTable(2);" href="javascript:void(0)">Last modified</a>
    </td>
  </tr>
</thead>
<tbody>
  <% files.each_with_index do |e, i| %>
    <tr id='file_<%= i %>' class="file">
      <td class="name">
        <input id="name_sort" type="hidden" value="<%= '_dir_' if e['dir'] %><%= e['name'] %>" />
        <% if e['dir'] %>
          <img src="<%= static_url('/dir.png') %>">
          <a href="<%= app_url(full_path + e['name']) %>">
            <%= e['name'] %>
          </a>
        <% else %>
          <% if e['name'].match(/\.mp4$/) %>
            <a href="<%= media_url(full_path + e['name']) %>">
              <%= e['name'] %>
            </a>
          <% else %>
            <a href="<%= app_url('/__file__' + full_path + e['name']) %>">
              <%= e['name'] %>
            </a>
          <% end %>
          <a download href="<%= app_url('/__file__' + full_path + e['name']) %>">
            <img src="<%= static_url('/dl.png') %>">
          </a>
        <% end %>
      </td>
      <td class="size">
        <input type="hidden" value="<%= e['size'] %>" />
        <%= FileHelper.format_size(e['size']) %>
      </td>
      <td class="time">
        <input type="hidden" value="<%= e['time'].to_i %>" />
        <%= e['time'].strftime('%Y-%m-%d') %>
      </td>
    </tr>
  <% end %>
</tbody>
